html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  display: flex;
  flex-direction: column;
  /*background: #ecf0f1;*/
}

header {
  padding-top: 20px;
  text-align: center;
}

div[role="main"] {
  display: flex;
  flex-direction: column;
}

div[role="main"] > * {
  width: 100%;
  align-self: center;
  max-width: 600px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

textarea {
  height: 230px;
}

h1 {
  margin-bottom: 0.5rem;
}

.message-entry {
  margin-top: 20px;
  background: #efefef;
  padding: 10px 20px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.info-message {
  background: #34495e;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 10px;
}

.info-message.error {
  background: #e74c3c;
}

.app-info {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.app-info div {
  width: 380px;
  background: #efefef;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
}

.app-info h5 {
  text-align: center;
}

h3.error {
  color: #e74c3c;
}

.twilio-logo img {
  height: 1.3em;
  vertical-align: middle;
  margin-left: 10px;
}

.github-info {
  text-align: center;
}

.octicon-mark-github {
  font-size: 60px;
}

a.black {
  color: #333;
}

a.black:hover, a.black:focus {
  color: #000;
}

#unsubscribeDialog {
  padding-top: 40px;
}